## Overview

I'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19


**Dataset Link**: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

**Information about the dataset:**

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

In [3]:
# First 10 observations of the dataset
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              40805 non-null  int64
 1   ObservationDate  40805 non-null  object
 2   Province/State   22790 non-null  object
 3   Country/Region   40805 non-null  object
 4   Last Update      40805 non-null  object
 5   Confirmed        40805 non-null  float64
 6   Deaths           40805 non-null  float64
 7   Recovered        40805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.5+ MB

In [5]:
# Converting columns ['ObservationDate'] and ['Last Update'] from object to datatime data type
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
df['Last Update'] = pd.to_datetime(df['Last Update'])

In [6]:
# Subset of the data, only taking observations which was last updated on 2020-06-13 03:33:14
updated_data = df[df['Last Update'] == '2020-06-13 03:33:14']

In [7]:
updated_data['Country/Region'].describe()

count        729
unique       190
top       Russia
freq          83
Name: Country/Region, dtype: object

In [8]:
# Subset of data from the dataframe updated_data, only taking the top 10 countries which have the maximum number 
# of confirmed cases with features - 'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'

top_10 = updated_data[['Country/Region', 'Confirmed','Recovered','Deaths']].groupby('Country/Region').sum().sort_values(by = 'Confirmed', ascending = False)[:10]

In [9]:
top_10

                Confirmed  Recovered    Deaths
Country/Region
US              2048986.0   547386.0  114669.0
Brazil           828810.0   445123.0   41828.0
Russia           510761.0   268862.0    6705.0
India            297535.0   147195.0    8498.0
UK               294402.0     1282.0   41566.0
Spain            243209.0   150376.0   27136.0
Italy            236305.0   173085.0   34223.0
Peru             214788.0   107133.0    6088.0
France           193220.0    72695.0   29377.0
Germany          187226.0   171535.0    8783.0

In [10]:
# Country with the lowest number of confirmed cases among the ten countries in top_10 
top_10.tail(1)

                Confirmed  Recovered  Deaths
Country/Region
Germany          187226.0   171535.0  8783.0

In [11]:
top_10['Recovered_percentage'] = (top_10.Recovered / top_10.Confirmed * 100)
top_10['Death_percentage'] = (top_10.Deaths / top_10.Confirmed * 100)

In [12]:
top_10

,Confirmed,Recovered,Deaths,Recovered_percentage,Death_percentage
Country/Region,,,,,
US,2048986.0,547386.0,114669.0,26.714970,5.596378
Brazil,828810.0,445123.0,41828.0,53.706278,5.046754
Russia,510761.0,268862.0,6705.0,52.639493,1.312747
India,297535.0,147195.0,8498.0,49.471491,2.856135
UK,294402.0,1282.0,41566.0,0.435459,14.118790
Spain,243209.0,150376.0,27136.0,61.829949,11.157482
Italy,236305.0,173085.0,34223.0,73.246440,14.482554
Peru,214788.0,107133.0,6088.0,49.878485,2.834423
France,193220.0,72695.0,29377.0,37.622917,15.203913
Germany,187226.0,171535.0,8783.0,91.619220,4.691122

In [13]:
# Top 3 countries with highest recovery precent
top_10.Recovered_percentage.sort_values(ascending = False).head(3)

Country/Region
Germany    91.619220
Italy      73.246440
Spain      61.829949
Name: Recovered_percentage, dtype: float64